@import helper._
@import requests.TodoForm

@(vv: model.ViewValueCommon, todoForm: Form[TodoForm], optionsOfCategoryId: Seq[(String, String)], optionsOfTodoStatus: Seq[(String, String)])(implicit req: RequestHeader, message: Messages)

@common.Default(vv){
    @form(routes.TodoController.createAction) {
        @CSRF.formField
        @inputText(todoForm("title"), 'class -> "uk-input form-width")
        @inputText(todoForm("body"), 'class -> "uk-input form-width")
        @select(field = todoForm("categoryId"), options = optionsOfCategoryId, 'class -> "uk-select form-width")
        @select(field = todoForm("state"), options = optionsOfTodoStatus, 'class -> "uk-select form-width", 'disabled -> "disabled")

        <input type="submit" class="uk-button uk-button-default bg-white">
    }
}
