@import helper._
@import forms.TodoForm

@(vv: model.ViewValueCommon, todoForm: Form[TodoForm], preTodoId: Long, optionsOfCategoryId: Seq[(String, String)], optionsOfTodoStatus: Seq[(String, String)])(implicit req: RequestHeader, message: Messages, flash: Flash)

@common.Default(vv){
    @form(routes.TodoController.updateAction(preTodoId)) {
        @CSRF.formField
        @inputText(todoForm("title"), 'class -> "uk-input form-width")
        @textarea(todoForm("body"), 'class -> "uk-textarea form-width")
        @select(field = todoForm("categoryId"), options = optionsOfCategoryId, 'class -> "uk-select form-width")
        @select(field = todoForm("state"), options = optionsOfTodoStatus, 'class -> "uk-select form-width")
        <input type="submit" class="uk-button uk-button-default bg-white">
    }
}
